<app-navbar></app-navbar>
<div class="container-fluid mt-3 animated fadeIn">

    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">

            <h2 style="color: #6f42c1;">Tienes {{ordenesContados}} pedidos.</h2>


            <table class="table"  *ngIf="ordenes">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Fecha de compra</th>
                        <th scope="col" class="text-center">Total</th>
                        <th scope="col" class="text-center">Estatus</th>
                        <th scope="col" class="text-center">Pedido</th>
                        <th scope="col" class="text-center">Comentarios</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orden of ordenes">
                        <td class="text-center">{{orden.date_order | date:'yyyy-mm-dd'}}</td>
                        <td class="text-center">${{orden.total}}</td>
                        <td class="text-center">{{orden.status}}</td>
                        <td class="text-center">{{orden.paypal_order_id}}</td>
                        <td class="text-center">{{orden.comments}}</td>
                        <td class="text-center">
                            <div>
                                <button type="button" color="primary" mat-raised-button>Ver
                                    detalle</button>
                            </div>
                        </td>

                    </tr>
                </tbody>

            </table>
            <table class="table" *ngIf="!ordenes || ordenes === undefined || ordenes.length===0">
                <tbody >
                    <tr>
                        <td colspan="14">
                            <div class="alert-dismissible text-center" style="padding: .75rem 1.25rem;">
                                <i class="fa fa-frown-o fa-2x" aria-hidden="true"></i>
                                <h3 style="height: 100%;width: 100%; color: #6f42c1;">AUN NO TIENES NINGUN PEDIDO ☹</h3>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1">
        </div>

    </div>



</div>