<div class="container">
   
       <div class="row">
            <div class="col-2">
        <section class="mt-3">
            <mat-checkbox class="example-margin" [color]="task.color">Category</mat-checkbox>
          </section>
    </div>
        <div class="col-10">
            <mat-form-field class="w-100">
                <input type="text"
                       placeholder="Search"
                       matInput
                       [formControl]="">
                       <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <div class="row">
                <div class="col-6">
                 <mat-card>
                     <mat-card-title>Paquete 1 ejemplo asdjasid</mat-card-title> <br>
                     <div class="row">
                         <img class="col-3 ml-2" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                         <mat-card-content class="col-9">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi quod natus fuga, aliquam doloribus aliquid itaque, commodi saepe voluptatibus officiis beatae quo optio omnis eum quibusdam fugit, cum quae. Repellendus?
                             <br>
                             <p class="mt-2">1500</p>
                         </mat-card-content>
                     </div>
                 </mat-card>
                </div>
                <div class="col-6">
                 <mat-card>
                     <mat-card-title>Paquete 1 ejemplo asdjasid</mat-card-title> <br>
                     <div class="row">
                         <img class="col-3 ml-2" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                         <mat-card-content class="col-9">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi quod natus fuga, aliquam doloribus aliquid itaque, commodi saepe voluptatibus officiis beatae quo optio omnis eum quibusdam fugit, cum quae. Repellendus?
                             <br>
                             <p class="mt-2">1500</p>
                         </mat-card-content>
                     </div>
                 </mat-card>
                </div>
            </div>
        </div>
       </div>
       
</div>