<div class="login-page ">
  <mat-card class="w-50 ml-auto mr-auto mt-5 md-5 rounded-lg border border-light">
    <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
        <mat-card-content class="login-form">
          <form action="">
            <mat-form-field>
              <input matInput placeholder="Email" required name="email" ngModel #email="ngModel">
              <mat-error *ngIf="email.invalid">Email is required</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" required minlength="6" name="password" ngModel
                #password="ngModel">
              <mat-error *ngIf="password.errors && password.errors.required">
                Password is required
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <br>
            <mat-checkbox>Remember Me!</mat-checkbox>
            <br>
            <button mat-raised-button color="primary" class="login-button ">
              Sign In
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign Up">
        <mat-card-content class="jistify-content-center overflow-hidden ">
          <form action="" (ngSubmit)="registerPost()" [formGroup]="registerForm">
            <mat-form-field>
              <input matInput placeholder="First name" name="username" formControlName="first_name">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="firstNameField.invalid && firstNameField.touched || firstNameField.invalid">
                First name is required.
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Middle name" formControlName="middle_name">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="middleNameField.invalid && middleNameField.touched || middleNameField.invalid ">
                Middle name is required
              </mat-error>

            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last name" formControlName="last_name">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="lastNameField.invalid && lastNameField.touched || lastNameField.invalid">
                Last name is required
              </mat-error>

            </mat-form-field>
            <div class="row mx-auto">
              <mat-form-field class="">
                <input matInput placeholder="Phone number" name="username" formControlName="phone_number">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error *ngIf="phoneNumberField.invalid && phoneNumberField.touched || phoneNumberField.invalid">
                  Phone number is required with at least 10 digits.
                </mat-error>
              </mat-form-field>
              <div formGroupName="address">
                <mat-form-field>
                  <input matInput placeholder="City" name="username" formControlName="city">
                  <mat-icon matSuffix>location_on</mat-icon>
                  <mat-error *ngIf="cityField.invalid && cityField.touched || cityField.invalid">
                    City is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="State" name="username" formControlName="state">
                  <mat-icon matSuffix>location_on</mat-icon>
                  <mat-error *ngIf="stateField.invalid && stateField.touched || stateField.invalid">
                    State is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="emailField.invalid && emailField.touched || emailField.invalid">Email is required
                e.g(example@mail.com)</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" type="password" name="password"
                formControlName="password">
              <mat-error *ngIf="passwordField.invalid && passwordField.touched || passwordField.invalid">
                Password is required (Min length 8, at least 1 uppercase and 1 lowercase)
              </mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide" type="button">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>

            </mat-form-field>
            <mat-form-field>
              <input matInput [type]="hideConfirm ? 'password' : 'text'" placeholder="Confirm password"
                formControlName="password_confirmation">
              <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideConfirm" type="button">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="passwordConfirmField.value !== passwordField.value && passwordConfirmField.touched">
                Password does not match.
              </mat-error>
              <mat-error
                *ngIf="passwordConfirmField.invalid && passwordConfirmField.touched || passwordConfirmField.invalid">
                Re-Enter Password is required
              </mat-error>
            </mat-form-field>
            <div class="row mt-4">
              <div class="col-6">
                <re-captcha (resolved)="resolved($event)" siteKey="6LcOFEAaAAAAABu0tcbrHosezK98a5USjSYM09lT">
                </re-captcha>
                <mat-error *ngIf="recaptchaField.invalid && recaptchaField.touched">Please solve de captcha to continue.
                </mat-error>
              </div>
              <div class="col ml-5 mt-4 button-right float-right">
                <button mat-raised-button color="primary" class="login-button" type="submit">Sign up</button>
              </div>
            </div>

          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>