.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  /* background-color: #303F9F; */
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin: 5px;
}

.button-right {
  transform: translate(50%);
}
.register-button {
  width: 20%;
  position: relative;
  transform: translateX(rem);
}

.login-form {
  margin-left: 50%;
  transform: translate(-50%);
  width: 100% auto;
}
